<div class="page">
  <h2>Koboli</h2>
  <h4>A darn simple book tracker. We really mean it when we say simple.</h4>

  <form [formGroup]="bookForm">
    <div>
      <label for="book-name">Book Name: </label>
      <input id="book-name" type="text" formControlName="bookName">
      <div
        *ngIf="bookForm.get('bookName')?.invalid && (bookForm.get('bookName')?.dirty || bookForm.get('bookName')?.touched)"
        class="alert">
        <div *ngIf="bookForm.get('bookName')?.hasError('required')"> A Book Name is required. </div>
        <div *ngIf="bookForm.get('bookName')?.hasError('maxlength')"> Maximum length for Book Name is 100 characters.
        </div>
      </div>
    </div>
    <div>
      <label for="author-name">Author: </label>
      <input id="author-name" type="text" formControlName="authorName">
    </div>
    <div>
      <label for="description">Description: </label>
      <input id="description" type="text" formControlName="description">
    </div>
    <div>
      <label for="why-read">Why Read?: </label>
      <input id="why-read" type="text" formControlName="whyRead">
    </div>
    <div *ngIf="addBookError" class="alert">
      <div>Couldn't add the book. Please try again.</div>
    </div>
    <div>
      name touched? {{bookForm.get('bookName')?.touched}}
    </div>
    <div>
      <button (click)="addBook()">Add Book</button>
    </div>
  </form>
  <ng-container *ngIf="books">
    <table>
      <thead>
        <tr>
          <th>Book</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>
            <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select>
                <mat-option value="option1" (click)="setStatus(book.id, 'reading')">Reading</mat-option>
                <mat-option value="option2" (click)=" setStatus(book.id, 'paused')">Paused</mat-option>
                <mat-option value="option2" (click)=" setStatus(book.id, 'finished')">Finished</mat-option>
                <mat-option value="option2" (click)=" setStatus(book.id, 'abandoned')">Abandoned</mat-option>
                <mat-option value="option2" (click)=" setStatus(book.id, 'toread')">To Read</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>

  </ng-container>
</div>