<div class="page">
  <h2>Koboli</h2>
  <h4>A darn simple book tracker. We really mean it when we say simple.</h4>

  <form [formGroup]="bookForm">
    <div>
      <label for="book-name">Book Name: </label>
      <input id="book-name" type="text" formControlName="bookName">
      <div
        *ngIf="bookForm.get('bookName')?.invalid && (bookForm.get('bookName')?.dirty || bookForm.get('bookName')?.touched)"
        class="alert">
        <div *ngIf="bookForm.get('bookName')?.hasError('required')"> A Book Name is required. </div>
        <div *ngIf="bookForm.get('bookName')?.hasError('maxlength')"> Maximum length for Book Name is 100 characters.
        </div>
      </div>
    </div>
    <div>
      <label for="author-name">Author: </label>
      <input id="author-name" type="text" formControlName="authorName">
    </div>
    <div>
      <label for="description">Description: </label>
      <input id="description" type="text" formControlName="description">
    </div>
    <div>
      <label for="why-read">Why Read?: </label>
      <input id="why-read" type="text" formControlName="whyRead">
    </div>
    <div *ngIf="addBookError" class="alert">
      <div>Couldn't add the book. Please try again.</div>
    </div>
    <div>
      {{bookForm.get('bookName')?.touched}}
    </div>
    <div>
      <button (click)="addBook()">Add Book</button>
    </div>
  </form>

</div>